#image-logo{
    width: 100px;
}
.logo-container{
    display: flex;
}
/* body{
    background-color: black;
} */
.heading{
    display: flex;
    justify-content: space-between;
    border: 3px solid rgb(163, 138, 138);
    border-radius: 10px;
}
/* .nav-bar{
    display: flex;

} */
.list{
    display: flex;
    
}
.list > li{
    list-style: none;
    padding: 10px;
    margin: 10px;
}

.cards>#Restro-image{
    height: 200px;
    width: 100%;
}

.logo-container{
    margin-left: 15px;
}
.cards-container{
    width: 20rem;
    padding: 5px;
    height: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    /* margin-block-start: 10px; */
    padding: 5px;
    
}



.cards{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(28, 111, 111);
    width: inherit;
    /* background-color: rgb(211, 33, 33); */
    display: flex;
    flex-wrap: wrap;
}
.resto-heading{
    margin-inline-start: 35px;
    width: inherit;
    text-overflow:ellipsis;
    text-wrap: wrap;
}
.cards:hover{
    border: 3px solid rgb(10, 2, 2);
}
#Restro-image{
    width: 100%;
}

.restro-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* margin: 10px; */
}
.header{
    height: auto;
    padding: 10px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-wrap: wrap;
    overflow-wrap: break-word;
    /* text-overflow: clip; */
}

.header h4 {
    word-wrap: break-word; /* Allows long words to be broken and wrap to the next line */
    overflow-wrap: break-word; /* Ensures compatibility with different browsers */
    white-space:normal; /* Allows text to wrap normally */
    overflow: hidden; /* Hides any overflowing text */
    display: inline-block; /* Ensures the text wraps within the block */
    width: 95%; /* Ensures the text takes the full width of the container */
} 